h2 {
    display: flex;
    margin: 0.5em;
}

.wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0.5em;
}

.row-wrapper {
    display: flex;
    flex-direction: column;
}

todoitem {
    display: flex;
}

.btnContainer {
    margin: 0.5em 0;
    display: flex;
    justify-content: flex-end;
}

button {
    display: flex;
    margin: 0;
}

.ui.button {
    margin: 0;
}
