form {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
}

input, button {
    display: flex;
}

.btn {
    background-color: #21BA45;
    color: #fff;
    font-size:1em;
    width: 40px;
    justify-content: center;
    border-radius: 4px;
    margin-left: 0.5em;
}