<div class="ui form">
    
    <div class="fieldWrapper">

        <input readonly type="text" value="{{todoItem.name}}">

        <div class="btnField">
            <div class="ui buttons">
            <button class="ui button" [ngClass]="{'green' : todoItem.urgent == true}" (click)="updateItemDue('urgent')">Urgent</button>
            <button class="ui button" [ngClass]="{'green' : todoItem.days == true}" (click)="updateItemDue('days')">Days</button>
            <button class="ui button" [ngClass]="{'green' : todoItem.weeks == true}" (click)="updateItemDue('weeks')">Weeks</button>
            </div>
            <button class="removeBtn" (click)="removeItem()">-</button>
        </div>

    </div> 
</div>
