

.fieldWrapper {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 0.35em;
}

input {
    display: flex;
}

.btnField {
    display: flex;
    margin-left: 0.5em;
    min-width: 312px;
}

.removeBtn {
    background-color: #DB2828;
    color: #fff;
    font-size: 2em;
    width: 40px;
    border-radius: 4px;
    margin-left: 0.5em;
}